In [1]:
import numpy as np
import pandas as pd

# Loading and cleaning data

We decided to reduce our dataset and begin it in 1918 due to several missing medals (gold, silver or bronze). Moreover, we kept in our dataset only columns that are essentials for us such as :
1. Year
2. Discipline
3. Country
4. Event
5. Medal

In [49]:
df_sum = pd.read_csv('data/summer.csv')
df_sum_reduced = df_sum.drop(["City", "Sport", "Gender", "Athlete"],  axis=1)
df_sum_reduced = df_sum_reduced[df_sum_reduced["Year"] >= 1918]

df_sum_reduced

       Year Discipline Country                         Event   Medal
1274   1920     Diving     DEN                  10M Platform    Gold
1275   1920     Diving     GBR                  10M Platform  Silver
1276   1920     Diving     SWE                  10M Platform  Silver
1277   1920     Diving     SWE             Plain High Diving  Bronze
1278   1920     Diving     SWE             Plain High Diving    Gold
...     ...        ...     ...                           ...     ...
16797  2020  Wrestling     UKR  Light-Heavyweight, Freestyle  Bronze
16798  2020  Wrestling     GER        Heavyweight, Freestyle    Gold
16799  2020  Wrestling     USA        Heavyweight, Freestyle  Silver
16800  2020  Wrestling     CHN        Heavyweight, Freestyle  Bronze
16801  2020  Wrestling     TUR        Heavyweight, Freestyle  Bronze

[15528 rows x 5 columns]

In [36]:
#Check if there is NA values to remove
print("Is there Na values in our dataframe ?", df.isnull().values.any())

Is there Na values in our dataframe ? False

In [93]:
df_sum_reduced[df_sum_reduced["Country"] == "EUN"].head(100)

,Year,Discipline,Country,Event,Medal
9286,1992,Diving,EUN,3M Springboard,Bronze
9287,1992,Diving,EUN,10M Platform,Silver
9288,1992,Diving,EUN,3M Springboard,Silver
9313,1992,Swimming,EUN,100M Freestyle,Gold
9314,1992,Swimming,EUN,200M Backstroke,Silver
...,...,...,...,...,...
10026,1992,Weightlifting,EUN,"90 - 100KG, Total (First-Heavyweight)",Silver
10043,1992,Wrestling Free.,EUN,- 48KG (Light-Flyweight),Bronze
10044,1992,Wrestling Free.,EUN,100 - 130KG (Super Heavyweight),Bronze
10045,1992,Wrestling Free.,EUN,52 - 57KG (Bantamweight),Silver
10046,1992,Wrestling Free.,EUN,62 - 68KG (Lightweight),Gold

## Problems with countries

In [52]:
df_sum_reduced["Country"].value_counts().head(15)

USA    2235
URS    1008
GBR     701
CHN     633
FRA     604
ITA     602
GER     586
AUS     538
JPN     493
HUN     478
RUS     444
SWE     410
GDR     409
NED     318
ROU     307
Name: Country, dtype: int64

As we can see here, there is a problem in the medals's count due to URSS. This union no longer exists since 1991. There are also others "countries" which are in reality a regroupment of atheltes who represents the olympic flag. Weh have :
- ROC
- IOA 
- IOP
- EUN

In [78]:
countries = df_sum_reduced["Country"].unique()
countries.sort()
countries

array(['AFG', 'AHO', 'ALG', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BAH',
       'BAR', 'BDI', 'BEL', 'BER', 'BLR', 'BOT', 'BRA', 'BRN', 'BUL',
       'BUR', 'BWI', 'CAN', 'CHI', 'CHN', 'CIV', 'CMR', 'COL', 'CRC',
       'CRO', 'CUB', 'CYP', 'CZE', 'DEN', 'DJI', 'DOM', 'ECU', 'EGY',
       'ERI', 'ESP', 'EST', 'ETH', 'EUA', 'EUN', 'FIJ', 'FIN', 'FRA',
       'FRG', 'GAB', 'GBR', 'GDR', 'GEO', 'GER', 'GHA', 'GRE', 'GRN',
       'GUA', 'GUY', 'HAI', 'HKG', 'HUN', 'INA', 'IND', 'IOA', 'IOP',
       'IRI', 'IRL', 'IRQ', 'ISL', 'ISR', 'ISV', 'ITA', 'JAM', 'JOR',
       'JPN', 'KAZ', 'KEN', 'KGZ', 'KOR', 'KOS', 'KSA', 'KUW', 'LAT',
       'LIB', 'LTU', 'LUX', 'MAR', 'MAS', 'MDA', 'MEX', 'MGL', 'MKD',
       'MNE', 'MOZ', 'MRI', 'NAM', 'NED', 'NGR', 'NIG', 'NOR', 'NZL',
       'PAK', 'PAN', 'PAR', 'PER', 'PHI', 'POL', 'POR', 'PRK', 'PUR',
       'QAT', 'ROC', 'ROU', 'RSA', 'RUS', 'SCG', 'SEN', 'SGP', 'SIN',
       'SLO', 'SMR', 'SRB', 'SRI', 'SUD', 'SUI', 'SUR', 'SVK', 'SWE',
       'SYR', 'TAN', 'TCH', 'TGA', 'THA', 'TJK', 'TKM', 'TOG', 'TPE',
       'TRI', 'TTO', 'TUN', 'TUR', 'UAE', 'UGA', 'UKR', 'URS', 'URU',
       'USA', 'UZB', 'VEN', 'VIE', 'YUG', 'ZAM', 'ZIM'], dtype=object)

In [82]:
print("Number of medals won by ROC :", df_sum_reduced[df_sum_reduced["Country"] == "ROC"].shape[0])

Number of medals won by ROC : 71

In [80]:
print("Number of medals won by EUN :", df_sum_reduced[df_sum_reduced["Country"] == "EUN"].shape[0])

Number of medals won by EUN : 112

In [84]:
print("Number of medals won by IOA :", df_sum_reduced[df_sum_reduced["Country"] == "IOA"].shape[0])

Number of medals won by IOA : 2

In [85]:
print("Number of medals won by IOP :", df_sum_reduced[df_sum_reduced["Country"] == "IOP"].shape[0])

Number of medals won by IOP : 3